<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">The Vault</a>
        <% if (user) { %>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN</a>
        <% } %>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>