<%- include('./partials/header') %> <br>

<h1 class="sub">What is "The Vault"</h1> <br>
<p>
  Hello, and welcome to The Vault! <br>
  The Vault is a "Safe" website (Get it? Cause it's like a money safe? No? okay... :( &nbsp;&nbsp;), <br>
  to show off your most prized in-game possesions. You don't have any items, 
  I hear you say? Well you can always just review everyone's items.
  So, do your items have what it takes to dominate the competition?
</p> <br>

<a href="/auth/google" class="home-login"><img src="https://i.imgur.com/FHjYyi0.png" id="google">Log In</a>

<img src="/images/home.png" alt="Items" id="home">

</body>
</html>