<%- include('./partials/header') %> 

<h1 class="sub">What is "The Vault"</h1>
<p>
  Hello, and welcome to The Vault! <br> 
  The Vault is a Safe place to show off, only your most 
  Exquisite, Beloved, and Prized in-game possesions. Even if you 
  don't have any items, you can always rate  and review other users' items
  So, does your Inventory have what it takes to make it to the top of the Page?
</p>
<img src="/images/GoldBg.png" alt="vault" id="bg">

<%- include('./partials/footer') %>