body {
  height: 100vh;
  background-color: rgb(88, 88, 88);
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

nav {
  margin-top: -1vmin;
  margin-left: -1vmin;
  margin-right: -1vmin;
  padding-left: 2vmin;
  background-color: rgb(58, 58, 58);
}

#login-btn {
  height: 10vmin;
  width: 10vmin;
}

.login {
  text-align: center;
  padding: 1vmin;
  width: 15vmin;
  font-size: 4vmin;
  position: absolute;
  top: 2.5vmin;
  right: 3vmin;
  border: 0.3vmin solid white;
  border-radius: 15px;
  transition: 200ms;
}

.login:hover {
  text-decoration: none;
  color: rgb(93, 93, 93);
  border: 0.4vmin solid rgb(88, 88, 88);
  background-color: white;
}

#all-item {
  font-size: 4vmin;
  position: absolute;
  top: 4vmin;
  right: 28vmin;
}

#add-item {
  font-size: 4vmin;
  position: absolute;
  top: 4vmin;
  right: 48vmin;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

title {
  font-size: 5vmin;
}

#title {
  font-weight: 900;
  position: absolute;
  top: 2vmin;
  left: 14.2vmin;
  padding-top: -100vmin;
  font-size: 8vmin;
}

#title:hover {
  text-decoration: none;
}

#logo {
  height: 12vmin;
  width: 12vmin;
}

label {
  font-size: 4.5vmin;
}

p {
  font-size: 2.8vmin;
  padding-left: 7vmin;
}

h1 {
  font-size: 8vmin;
  padding-left: 2vmin;
}

.sub {
  margin-bottom: -1vmin;
  padding-left: 4vmin;
  font-size: 5vmin;
}

#home {
  position: absolute;
  top: 60vmin;
  right: 28vmin;
  width: 125vmin;
}

input {
  font-size: 3vmin;
  margin-bottom: 5vmin;
  height: 5vmin;
  width: 40vmin;
  border: 0.8vmin solid rgb(58, 58, 58);
  border-radius: 15px;
}

#check {
  height: 3vmin;
  width: 4vmin;
}

.btn {
  background-color: white;
  height: 6vmin;
  width: 20vmin;
  font-size: 3vmin;
  border: 0.5vmin solid rgb(58, 58, 58);
  transition: 175ms;
}

.btn:hover {
  background-color: rgb(58, 58, 58);
  color: white;
  border: 0.5vmin solid white;
}

#new-form {
  position: absolute;
  left: 20vmin;
  background-color: rgb(150, 150, 150);
  padding: 5vmin;
  padding-left: 10vmin;
  padding-right: 40vmin;
  padding-bottom: 3vmin;
  border-radius: 15px;
}

.item-img {
  height: 15vmin;
  width: 15vmin;
}