body {
  height: 100vh;
  background-color: rgb(88, 88, 88);
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

nav {
  margin-top: -1vmin;
  margin-left: -1vmin;
  margin-right: -1vmin;
  padding-left: 2vmin;
  background-color: rgb(58, 58, 58);
}

#login-btn {
  height: 10vmin;
  width: 10vmin;
}

.login {
  text-align: center;
  padding: 1vmin;
  width: 15vmin;
  font-size: 4vmin;
  position: absolute;
  top: 2.5vmin;
  right: 3vmin;
  border: 0.3vmin solid white;
  border-radius: 15px;
  transition: 200ms;
}

.login:hover {
  text-decoration: none;
  color: rgb(93, 93, 93);
  border: 0.4vmin solid rgb(88, 88, 88);
  background-color: white;
}

#all-item {
  font-size: 4vmin;
  position: absolute;
  top: 4vmin;
  right: 28vmin;
}

#add-item {
  font-size: 4vmin;
  position: absolute;
  top: 4vmin;
  right: 48vmin;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

title {
  font-size: 5vmin;
}

#title {
  font-weight: 900;
  position: absolute;
  top: 2vmin;
  left: 14.2vmin;
  padding-top: -100vmin;
  font-size: 8vmin;
}

#title:hover {
  text-decoration: none;
}

#logo {
  height: 12vmin;
  width: 12vmin;
}

label {
  font-size: 4.5vmin;
}

p {
  font-size: 2.8vmin;
  padding-left: 7vmin;
  width: 75vmin;
}

h1 {
  font-size: 8vmin;
  padding-left: 2vmin;
}

h2 {
  font-size: 5vmin;
}

h3 {
  font-size: 3.5vmin;
}

h4 {
  font-size: 3vmin;
  padding: 4vmin;
  margin-top: -3vmin;
}

.sub {
  margin-bottom: -1vmin;
  padding-left: 4vmin;
  font-size: 5vmin;
}

#home {
  position: absolute;
  top: 32vmin;
  right: -2vmin;
  width: 95vmin;
}

input {
  font-size: 3vmin;
  margin-bottom: 5vmin;
  height: 5vmin;
  width: 40vmin;
  border: 0.8vmin solid rgb(58, 58, 58);
  border-radius: 15px;
}

#check {
  height: 3vmin;
  width: 4vmin;
}

.btn {
  background-color: rgb(219, 219, 219);
  height: 6vmin;
  width: 20vmin;
  font-size: 3vmin;
  border: 0.5vmin solid rgb(58, 58, 58);
  border-radius: 15px;
  transition: 175ms;
}

.btn:hover {
  background-color: rgb(58, 58, 58);
  color: rgb(219, 219, 219);
  transform: scale(1.1);
  border: 0.5vmin solid rgb(219, 219, 219);
}

#new-form {
  position: absolute;
  left: 20vmin;
  background-color: rgb(150, 150, 150);
  padding: 5vmin;
  padding-left: 10vmin;
  padding-right: 40vmin;
  padding-bottom: 3vmin;
  border-radius: 15px;
}

.item-img {
  margin-top: -1vmin;
  margin-left: 5vmin;
  height: 28vmin;
  width: 28vmin;
  border-radius: 15px;
}

#list {
  margin-top: -2vmin;
}

#item-page {
  background-color: rgb(150, 150, 150);
  padding: 5vmin;
  padding-left: 8vmin;
  margin-right: 40vmin;
  padding-bottom: 7vmin;
  border-radius: 15px;
  margin-left: 10vmin;
  margin-bottom: 4vmin;
}

.details-img {
  margin-top: 2vmin;
  height: 30vmin;
  width: 30vmin;
  border-radius: 15px;
}

.label {
  font-size: 6vmin;
}

.item-div {
  font-size: 3vmin;
}

td {
  padding-bottom: 5vmin;
  padding-left: 8vmin;
}

textarea {
  font-size: 3vmin;
  margin-bottom: 5vmin;
  border: 0.8vmin solid rgb(58, 58, 58);
  border-radius: 15px;
}

#reviews {
  padding-bottom: 10vmin;
  padding-left: 10vmin;
}

select {
  font-size: 3vmin;
  border: 0.5vmin solid rgb(58, 58, 58);
  border-radius: 15px;
  margin-left: 1.2vmin;
}

.user {
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
}

.home-login {
  padding: 2vmin;
  padding-left: 17vmin;
  padding-right: 15vmin;
  color: black;
  background-color: white;
  position: absolute;
  left: 20vmin;
  font-size: 3vmin;
  border-radius: 15px;
  transition: 150ms;
}

.home-login:hover {
  text-decoration: none;
  transform: scale(1.12);
}

#google {
  width: 4vmin;
  position: absolute;
  left: 12.5vmin;
  top: 1.6vmin;
}

#review-form {
  margin-top: -3vmin;
  margin-left: 12vmin;
  background-color: rgb(150, 150, 150);
  border-radius: 15px;
  padding: 3vmin;
  padding-left: 5vmin;
  width: 100vmin;
}

#coins {
  display: inline;
  width: 8vmin;
  margin-bottom: -1.2vmin;
}

#total-coins {
  width: 8vmin;
  margin-bottom: -0.8vmin;
  margin-left: -0.5vmin;
}

#total {
  margin-left: -40vmin;
}

.delete {
  color: white;
  background-color: rgb(207, 1, 0);
  font-size: 2.2vmin;
  border: 0.5vmin solid rgb(96, 0, 0);
  border-radius: 15px;
  transition: 175ms;
  padding: 1vmin;
}

.delete:hover {
  transform: scale(1.1);
  background-color: rgb(96, 0, 0);
  color: white;
  border: 0.5vmin solid rgb(207, 0, 0);
}

#delete-review {
  font-size: 3vmin;
  margin-left: 8vmin;
  width: 15vmin;
}

.item-user {
  width: 8vmin;
  border-radius: 50%;
}

.user-name {
  font-size: 3.5vmin;
}

#items {
  background-color: rgb(150, 150, 150);
  padding: 3vmin;
  border-radius: 15px;
  padding-right: 40vmin;
  margin-left: 5vmin;
}

#item-name {
  font-size: 5vmin;
  margin-top: -0.8vmin;
  width: 100vmin;
}

.review {
  margin-top: -3vmin;
  background-color: rgb(150, 150, 150);
  padding: 2vmin;
  padding-left: 3vmin;
  padding-right: 50vmin;
  border-radius: 15px;
  margin-left: 8vmin;
}

#item-post {
  margin-left: 3vmin;
}

#edit {
  color: rgb(58, 58, 58);
  text-decoration: none;
  border: 0.5vmin solid rgb(58, 58, 58);
  border-radius: 15px;
  background-color: rgb(219, 219, 219);
  padding: 0.5vmin;
  font-size: 3vmin;
  border-radius: 15px;
  transition: 175ms;
}

#edit:hover {
  color: rgb(219, 219, 219);
  border: 0.5vmin solid rgb(219, 219, 219);
  background-color: rgb(58, 58, 58);
  font-size: 4vmin;
}

#add-review {
  width: 22vmin;
}
