<%- include('../partials/header') %>

<form id="new-form" action="/items" method="POST">
    <label>Image of Item:</label>
    <p>(please submit a link)</p>
    <input type="text" name="itemImg"> <br>
    <label>Item Name:</label> <br>
    <input type="text" name="item"> <br>
    <label>Game:</label> <br>
    <input type="text" name="game"> <br>
    <label>Item Level:</label> <br>
    <input type="number" name="itemLevel"> <br>
    <label>Description:</label> <br>
    <textarea type="string" name="description"></textarea> <br>
    <label>Are You Trading This Item?</label>
    <input type="checkbox" name="upForTrade" id="check"> <br>
    <input type="submit" value="Add Item" class="btn">
</form>

<%- include('../partials/footer') %>